footer
    .footer
        .container
            .footer__wrapper
                .footer__col
                    small © 2018 – 2023 Гипермаркет продуктов Слива цен
                    img(src='assets/img/payicons.png').mt-3
                .footer__col
                    nav.bottom-links
                        .bottom-links__col
                            a(href='#').bottom-links__general Компания
                            .bottom-links__wrap
                                a(href='#').bottom-links__link О компании
                                a(href='#').bottom-links__link Контакты
                        .bottom-links__col
                            a(href='#').bottom-links__general Информация
                            .bottom-links__wrap
                                a(href='#').bottom-links__link Оформление и возврат
                                a(href='#').bottom-links__link Условия оплаты
                                a(href='#').bottom-links__link Условия доставки
                                a(href='#').bottom-links__link Блог
                .footer__col
                    .app-adv
                        .app-adv__wrapper
                            .w-fit.h-fit
                                img(src='/assets/img/qr.png')
                            div
                                span(class='text-[15px] font-[500] leading-[19px]') Наведите камеру и скачайте бесплатное приложение Слива24
                                .download-links
                                    a(href='#').download-links__item
                                        img(src='/assets/img/gplay.png')
                                    a(href='#').download-links__item
                                        img(src='/assets/img/govnos.png')
