.header-sections
    .container.h-full
        .header-sections__wrapper
            .header-sections__1lvl
                .header-sections__1lvl-wrapper
                    a.header-sections__1lvl-item(data-subsection-id='1').header-sections__1lvl-item-current
                        .header-sections__1lvl-item-wrapper
                            .header-sections__1lvl-item-icon
                                //<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                //<path d="M19.0508 6.85994L18.6208 5.68994H6.37078L4.30078 11.2299H20.6708L20.1508 9.81994" fill=""/>
                                //<path d="M19.0508 6.85994L18.6208 5.68994H6.37078L4.30078 11.2299H20.6708L20.1508 9.81994" stroke="#829297" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                                //<path d="M20.7008 11.26H4.30078V17.45H20.7008V11.26Z" fill="" stroke="#829297" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                                //<path d="M8.10937 15.76C8.9378 15.76 9.60937 15.0884 9.60937 14.26C9.60937 13.4316 8.9378 12.76 8.10937 12.76C7.28095 12.76 6.60938 13.4316 6.60938 14.26C6.60938 15.0884 7.28095 15.76 8.10937 15.76Z" fill="#829297"/>
                                //<path d="M16.8516 15.76C17.68 15.76 18.3516 15.0884 18.3516 14.26C18.3516 13.4316 17.68 12.76 16.8516 12.76C16.0231 12.76 15.3516 13.4316 15.3516 14.26C15.3516 15.0884 16.0231 15.76 16.8516 15.76Z" fill="#829297"/>
                                //<path d="M17.6094 17.48H20.6894V18.5C20.6894 19.35 19.9994 20.04 19.1494 20.04C18.2994 20.04 17.6094 19.35 17.6094 18.5V17.48Z" fill="" stroke="#829297" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                                //<path d="M4.30078 17.48H7.38078V18.5C7.38078 19.35 6.69078 20.04 5.84078 20.04C4.99078 20.04 4.30078 19.35 4.30078 18.5V17.48Z" fill="" stroke="#829297" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                                //</svg>
                                img(src='/assets/img/test.svg/')
                            span.header-sections__1lvl-item-name Автотовары
                    a.header-sections__1lvl-item(data-subsection-id='1').header-sections__1lvl-item-current
                        .header-sections__1lvl-item-wrapper
                            .header-sections__1lvl-item-icon
                                //<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                //<path d="M19.0508 6.85994L18.6208 5.68994H6.37078L4.30078 11.2299H20.6708L20.1508 9.81994" fill=""/>
                                //<path d="M19.0508 6.85994L18.6208 5.68994H6.37078L4.30078 11.2299H20.6708L20.1508 9.81994" stroke="#829297" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                                //<path d="M20.7008 11.26H4.30078V17.45H20.7008V11.26Z" fill="" stroke="#829297" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                                //<path d="M8.10937 15.76C8.9378 15.76 9.60937 15.0884 9.60937 14.26C9.60937 13.4316 8.9378 12.76 8.10937 12.76C7.28095 12.76 6.60938 13.4316 6.60938 14.26C6.60938 15.0884 7.28095 15.76 8.10937 15.76Z" fill="#829297"/>
                                //<path d="M16.8516 15.76C17.68 15.76 18.3516 15.0884 18.3516 14.26C18.3516 13.4316 17.68 12.76 16.8516 12.76C16.0231 12.76 15.3516 13.4316 15.3516 14.26C15.3516 15.0884 16.0231 15.76 16.8516 15.76Z" fill="#829297"/>
                                //<path d="M17.6094 17.48H20.6894V18.5C20.6894 19.35 19.9994 20.04 19.1494 20.04C18.2994 20.04 17.6094 19.35 17.6094 18.5V17.48Z" fill="" stroke="#829297" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                                //<path d="M4.30078 17.48H7.38078V18.5C7.38078 19.35 6.69078 20.04 5.84078 20.04C4.99078 20.04 4.30078 19.35 4.30078 18.5V17.48Z" fill="" stroke="#829297" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                                //</svg>
                                img(src='/assets/img/test.svg/')
                            span.header-sections__1lvl-item-name Автотовары
                    a.header-sections__1lvl-item(data-subsection-id='1').header-sections__1lvl-item-current
                        .header-sections__1lvl-item-wrapper
                            .header-sections__1lvl-item-icon
                                //<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                //<path d="M19.0508 6.85994L18.6208 5.68994H6.37078L4.30078 11.2299H20.6708L20.1508 9.81994" fill=""/>
                                //<path d="M19.0508 6.85994L18.6208 5.68994H6.37078L4.30078 11.2299H20.6708L20.1508 9.81994" stroke="#829297" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                                //<path d="M20.7008 11.26H4.30078V17.45H20.7008V11.26Z" fill="" stroke="#829297" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                                //<path d="M8.10937 15.76C8.9378 15.76 9.60937 15.0884 9.60937 14.26C9.60937 13.4316 8.9378 12.76 8.10937 12.76C7.28095 12.76 6.60938 13.4316 6.60938 14.26C6.60938 15.0884 7.28095 15.76 8.10937 15.76Z" fill="#829297"/>
                                //<path d="M16.8516 15.76C17.68 15.76 18.3516 15.0884 18.3516 14.26C18.3516 13.4316 17.68 12.76 16.8516 12.76C16.0231 12.76 15.3516 13.4316 15.3516 14.26C15.3516 15.0884 16.0231 15.76 16.8516 15.76Z" fill="#829297"/>
                                //<path d="M17.6094 17.48H20.6894V18.5C20.6894 19.35 19.9994 20.04 19.1494 20.04C18.2994 20.04 17.6094 19.35 17.6094 18.5V17.48Z" fill="" stroke="#829297" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                                //<path d="M4.30078 17.48H7.38078V18.5C7.38078 19.35 6.69078 20.04 5.84078 20.04C4.99078 20.04 4.30078 19.35 4.30078 18.5V17.48Z" fill="" stroke="#829297" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                                //</svg>
                                img(src='/assets/img/test.svg/')
                            span.header-sections__1lvl-item-name Автотовары
                    a.header-sections__1lvl-item(data-subsection-id='1').header-sections__1lvl-item-current
                        .header-sections__1lvl-item-wrapper
                            .header-sections__1lvl-item-icon
                                //<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                //<path d="M19.0508 6.85994L18.6208 5.68994H6.37078L4.30078 11.2299H20.6708L20.1508 9.81994" fill=""/>
                                //<path d="M19.0508 6.85994L18.6208 5.68994H6.37078L4.30078 11.2299H20.6708L20.1508 9.81994" stroke="#829297" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                                //<path d="M20.7008 11.26H4.30078V17.45H20.7008V11.26Z" fill="" stroke="#829297" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                                //<path d="M8.10937 15.76C8.9378 15.76 9.60937 15.0884 9.60937 14.26C9.60937 13.4316 8.9378 12.76 8.10937 12.76C7.28095 12.76 6.60938 13.4316 6.60938 14.26C6.60938 15.0884 7.28095 15.76 8.10937 15.76Z" fill="#829297"/>
                                //<path d="M16.8516 15.76C17.68 15.76 18.3516 15.0884 18.3516 14.26C18.3516 13.4316 17.68 12.76 16.8516 12.76C16.0231 12.76 15.3516 13.4316 15.3516 14.26C15.3516 15.0884 16.0231 15.76 16.8516 15.76Z" fill="#829297"/>
                                //<path d="M17.6094 17.48H20.6894V18.5C20.6894 19.35 19.9994 20.04 19.1494 20.04C18.2994 20.04 17.6094 19.35 17.6094 18.5V17.48Z" fill="" stroke="#829297" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                                //<path d="M4.30078 17.48H7.38078V18.5C7.38078 19.35 6.69078 20.04 5.84078 20.04C4.99078 20.04 4.30078 19.35 4.30078 18.5V17.48Z" fill="" stroke="#829297" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                                //</svg>
                                img(src='/assets/img/test.svg/')
                            span.header-sections__1lvl-item-name Автотовары
                    a.header-sections__1lvl-item(data-subsection-id='1').header-sections__1lvl-item-current
                        .header-sections__1lvl-item-wrapper
                            .header-sections__1lvl-item-icon
                                //<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                //<path d="M19.0508 6.85994L18.6208 5.68994H6.37078L4.30078 11.2299H20.6708L20.1508 9.81994" fill=""/>
                                //<path d="M19.0508 6.85994L18.6208 5.68994H6.37078L4.30078 11.2299H20.6708L20.1508 9.81994" stroke="#829297" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                                //<path d="M20.7008 11.26H4.30078V17.45H20.7008V11.26Z" fill="" stroke="#829297" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                                //<path d="M8.10937 15.76C8.9378 15.76 9.60937 15.0884 9.60937 14.26C9.60937 13.4316 8.9378 12.76 8.10937 12.76C7.28095 12.76 6.60938 13.4316 6.60938 14.26C6.60938 15.0884 7.28095 15.76 8.10937 15.76Z" fill="#829297"/>
                                //<path d="M16.8516 15.76C17.68 15.76 18.3516 15.0884 18.3516 14.26C18.3516 13.4316 17.68 12.76 16.8516 12.76C16.0231 12.76 15.3516 13.4316 15.3516 14.26C15.3516 15.0884 16.0231 15.76 16.8516 15.76Z" fill="#829297"/>
                                //<path d="M17.6094 17.48H20.6894V18.5C20.6894 19.35 19.9994 20.04 19.1494 20.04C18.2994 20.04 17.6094 19.35 17.6094 18.5V17.48Z" fill="" stroke="#829297" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                                //<path d="M4.30078 17.48H7.38078V18.5C7.38078 19.35 6.69078 20.04 5.84078 20.04C4.99078 20.04 4.30078 19.35 4.30078 18.5V17.48Z" fill="" stroke="#829297" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                                //</svg>
                                img(src='/assets/img/test.svg/')
                            span.header-sections__1lvl-item-name Автотовары
                    a.header-sections__1lvl-item(data-subsection-id='1').header-sections__1lvl-item-current
                        .header-sections__1lvl-item-wrapper
                            .header-sections__1lvl-item-icon
                                //<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                //<path d="M19.0508 6.85994L18.6208 5.68994H6.37078L4.30078 11.2299H20.6708L20.1508 9.81994" fill=""/>
                                //<path d="M19.0508 6.85994L18.6208 5.68994H6.37078L4.30078 11.2299H20.6708L20.1508 9.81994" stroke="#829297" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                                //<path d="M20.7008 11.26H4.30078V17.45H20.7008V11.26Z" fill="" stroke="#829297" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                                //<path d="M8.10937 15.76C8.9378 15.76 9.60937 15.0884 9.60937 14.26C9.60937 13.4316 8.9378 12.76 8.10937 12.76C7.28095 12.76 6.60938 13.4316 6.60938 14.26C6.60938 15.0884 7.28095 15.76 8.10937 15.76Z" fill="#829297"/>
                                //<path d="M16.8516 15.76C17.68 15.76 18.3516 15.0884 18.3516 14.26C18.3516 13.4316 17.68 12.76 16.8516 12.76C16.0231 12.76 15.3516 13.4316 15.3516 14.26C15.3516 15.0884 16.0231 15.76 16.8516 15.76Z" fill="#829297"/>
                                //<path d="M17.6094 17.48H20.6894V18.5C20.6894 19.35 19.9994 20.04 19.1494 20.04C18.2994 20.04 17.6094 19.35 17.6094 18.5V17.48Z" fill="" stroke="#829297" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                                //<path d="M4.30078 17.48H7.38078V18.5C7.38078 19.35 6.69078 20.04 5.84078 20.04C4.99078 20.04 4.30078 19.35 4.30078 18.5V17.48Z" fill="" stroke="#829297" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                                //</svg>
                                img(src='/assets/img/test.svg/')
                            span.header-sections__1lvl-item-name Автотовары
                    a.header-sections__1lvl-item(data-subsection-id='1').header-sections__1lvl-item-current
                        .header-sections__1lvl-item-wrapper
                            .header-sections__1lvl-item-icon
                                //<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                //<path d="M19.0508 6.85994L18.6208 5.68994H6.37078L4.30078 11.2299H20.6708L20.1508 9.81994" fill=""/>
                                //<path d="M19.0508 6.85994L18.6208 5.68994H6.37078L4.30078 11.2299H20.6708L20.1508 9.81994" stroke="#829297" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                                //<path d="M20.7008 11.26H4.30078V17.45H20.7008V11.26Z" fill="" stroke="#829297" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                                //<path d="M8.10937 15.76C8.9378 15.76 9.60937 15.0884 9.60937 14.26C9.60937 13.4316 8.9378 12.76 8.10937 12.76C7.28095 12.76 6.60938 13.4316 6.60938 14.26C6.60938 15.0884 7.28095 15.76 8.10937 15.76Z" fill="#829297"/>
                                //<path d="M16.8516 15.76C17.68 15.76 18.3516 15.0884 18.3516 14.26C18.3516 13.4316 17.68 12.76 16.8516 12.76C16.0231 12.76 15.3516 13.4316 15.3516 14.26C15.3516 15.0884 16.0231 15.76 16.8516 15.76Z" fill="#829297"/>
                                //<path d="M17.6094 17.48H20.6894V18.5C20.6894 19.35 19.9994 20.04 19.1494 20.04C18.2994 20.04 17.6094 19.35 17.6094 18.5V17.48Z" fill="" stroke="#829297" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                                //<path d="M4.30078 17.48H7.38078V18.5C7.38078 19.35 6.69078 20.04 5.84078 20.04C4.99078 20.04 4.30078 19.35 4.30078 18.5V17.48Z" fill="" stroke="#829297" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                                //</svg>
                                img(src='/assets/img/test.svg/')
                            span.header-sections__1lvl-item-name Автотовары
                    a.header-sections__1lvl-item(data-subsection-id='1').header-sections__1lvl-item-current
                        .header-sections__1lvl-item-wrapper
                            .header-sections__1lvl-item-icon
                                //<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                //<path d="M19.0508 6.85994L18.6208 5.68994H6.37078L4.30078 11.2299H20.6708L20.1508 9.81994" fill=""/>
                                //<path d="M19.0508 6.85994L18.6208 5.68994H6.37078L4.30078 11.2299H20.6708L20.1508 9.81994" stroke="#829297" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                                //<path d="M20.7008 11.26H4.30078V17.45H20.7008V11.26Z" fill="" stroke="#829297" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                                //<path d="M8.10937 15.76C8.9378 15.76 9.60937 15.0884 9.60937 14.26C9.60937 13.4316 8.9378 12.76 8.10937 12.76C7.28095 12.76 6.60938 13.4316 6.60938 14.26C6.60938 15.0884 7.28095 15.76 8.10937 15.76Z" fill="#829297"/>
                                //<path d="M16.8516 15.76C17.68 15.76 18.3516 15.0884 18.3516 14.26C18.3516 13.4316 17.68 12.76 16.8516 12.76C16.0231 12.76 15.3516 13.4316 15.3516 14.26C15.3516 15.0884 16.0231 15.76 16.8516 15.76Z" fill="#829297"/>
                                //<path d="M17.6094 17.48H20.6894V18.5C20.6894 19.35 19.9994 20.04 19.1494 20.04C18.2994 20.04 17.6094 19.35 17.6094 18.5V17.48Z" fill="" stroke="#829297" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                                //<path d="M4.30078 17.48H7.38078V18.5C7.38078 19.35 6.69078 20.04 5.84078 20.04C4.99078 20.04 4.30078 19.35 4.30078 18.5V17.48Z" fill="" stroke="#829297" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                                //</svg>
                                img(src='/assets/img/test.svg/')
                            span.header-sections__1lvl-item-name Автотовары
                    a.header-sections__1lvl-item(data-subsection-id='1').header-sections__1lvl-item-current
                        .header-sections__1lvl-item-wrapper
                            .header-sections__1lvl-item-icon
                                //<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                //<path d="M19.0508 6.85994L18.6208 5.68994H6.37078L4.30078 11.2299H20.6708L20.1508 9.81994" fill=""/>
                                //<path d="M19.0508 6.85994L18.6208 5.68994H6.37078L4.30078 11.2299H20.6708L20.1508 9.81994" stroke="#829297" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                                //<path d="M20.7008 11.26H4.30078V17.45H20.7008V11.26Z" fill="" stroke="#829297" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                                //<path d="M8.10937 15.76C8.9378 15.76 9.60937 15.0884 9.60937 14.26C9.60937 13.4316 8.9378 12.76 8.10937 12.76C7.28095 12.76 6.60938 13.4316 6.60938 14.26C6.60938 15.0884 7.28095 15.76 8.10937 15.76Z" fill="#829297"/>
                                //<path d="M16.8516 15.76C17.68 15.76 18.3516 15.0884 18.3516 14.26C18.3516 13.4316 17.68 12.76 16.8516 12.76C16.0231 12.76 15.3516 13.4316 15.3516 14.26C15.3516 15.0884 16.0231 15.76 16.8516 15.76Z" fill="#829297"/>
                                //<path d="M17.6094 17.48H20.6894V18.5C20.6894 19.35 19.9994 20.04 19.1494 20.04C18.2994 20.04 17.6094 19.35 17.6094 18.5V17.48Z" fill="" stroke="#829297" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                                //<path d="M4.30078 17.48H7.38078V18.5C7.38078 19.35 6.69078 20.04 5.84078 20.04C4.99078 20.04 4.30078 19.35 4.30078 18.5V17.48Z" fill="" stroke="#829297" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                                //</svg>
                                img(src='/assets/img/test.svg/')
                            span.header-sections__1lvl-item-name Автотовары
                    a.header-sections__1lvl-item(data-subsection-id='1').header-sections__1lvl-item-current
                        .header-sections__1lvl-item-wrapper
                            .header-sections__1lvl-item-icon
                                //<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                //<path d="M19.0508 6.85994L18.6208 5.68994H6.37078L4.30078 11.2299H20.6708L20.1508 9.81994" fill=""/>
                                //<path d="M19.0508 6.85994L18.6208 5.68994H6.37078L4.30078 11.2299H20.6708L20.1508 9.81994" stroke="#829297" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                                //<path d="M20.7008 11.26H4.30078V17.45H20.7008V11.26Z" fill="" stroke="#829297" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                                //<path d="M8.10937 15.76C8.9378 15.76 9.60937 15.0884 9.60937 14.26C9.60937 13.4316 8.9378 12.76 8.10937 12.76C7.28095 12.76 6.60938 13.4316 6.60938 14.26C6.60938 15.0884 7.28095 15.76 8.10937 15.76Z" fill="#829297"/>
                                //<path d="M16.8516 15.76C17.68 15.76 18.3516 15.0884 18.3516 14.26C18.3516 13.4316 17.68 12.76 16.8516 12.76C16.0231 12.76 15.3516 13.4316 15.3516 14.26C15.3516 15.0884 16.0231 15.76 16.8516 15.76Z" fill="#829297"/>
                                //<path d="M17.6094 17.48H20.6894V18.5C20.6894 19.35 19.9994 20.04 19.1494 20.04C18.2994 20.04 17.6094 19.35 17.6094 18.5V17.48Z" fill="" stroke="#829297" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                                //<path d="M4.30078 17.48H7.38078V18.5C7.38078 19.35 6.69078 20.04 5.84078 20.04C4.99078 20.04 4.30078 19.35 4.30078 18.5V17.48Z" fill="" stroke="#829297" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                                //</svg>
                                img(src='/assets/img/test.svg/')
                            span.header-sections__1lvl-item-name Автотовары
                    a.header-sections__1lvl-item(data-subsection-id='1').header-sections__1lvl-item-current
                        .header-sections__1lvl-item-wrapper
                            .header-sections__1lvl-item-icon
                                //<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                //<path d="M19.0508 6.85994L18.6208 5.68994H6.37078L4.30078 11.2299H20.6708L20.1508 9.81994" fill=""/>
                                //<path d="M19.0508 6.85994L18.6208 5.68994H6.37078L4.30078 11.2299H20.6708L20.1508 9.81994" stroke="#829297" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                                //<path d="M20.7008 11.26H4.30078V17.45H20.7008V11.26Z" fill="" stroke="#829297" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                                //<path d="M8.10937 15.76C8.9378 15.76 9.60937 15.0884 9.60937 14.26C9.60937 13.4316 8.9378 12.76 8.10937 12.76C7.28095 12.76 6.60938 13.4316 6.60938 14.26C6.60938 15.0884 7.28095 15.76 8.10937 15.76Z" fill="#829297"/>
                                //<path d="M16.8516 15.76C17.68 15.76 18.3516 15.0884 18.3516 14.26C18.3516 13.4316 17.68 12.76 16.8516 12.76C16.0231 12.76 15.3516 13.4316 15.3516 14.26C15.3516 15.0884 16.0231 15.76 16.8516 15.76Z" fill="#829297"/>
                                //<path d="M17.6094 17.48H20.6894V18.5C20.6894 19.35 19.9994 20.04 19.1494 20.04C18.2994 20.04 17.6094 19.35 17.6094 18.5V17.48Z" fill="" stroke="#829297" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                                //<path d="M4.30078 17.48H7.38078V18.5C7.38078 19.35 6.69078 20.04 5.84078 20.04C4.99078 20.04 4.30078 19.35 4.30078 18.5V17.48Z" fill="" stroke="#829297" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                                //</svg>
                                img(src='/assets/img/test.svg/')
                            span.header-sections__1lvl-item-name Автотовары
                    a.header-sections__1lvl-item(data-subsection-id='1').header-sections__1lvl-item-current
                        .header-sections__1lvl-item-wrapper
                            .header-sections__1lvl-item-icon
                                //<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                //<path d="M19.0508 6.85994L18.6208 5.68994H6.37078L4.30078 11.2299H20.6708L20.1508 9.81994" fill=""/>
                                //<path d="M19.0508 6.85994L18.6208 5.68994H6.37078L4.30078 11.2299H20.6708L20.1508 9.81994" stroke="#829297" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                                //<path d="M20.7008 11.26H4.30078V17.45H20.7008V11.26Z" fill="" stroke="#829297" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                                //<path d="M8.10937 15.76C8.9378 15.76 9.60937 15.0884 9.60937 14.26C9.60937 13.4316 8.9378 12.76 8.10937 12.76C7.28095 12.76 6.60938 13.4316 6.60938 14.26C6.60938 15.0884 7.28095 15.76 8.10937 15.76Z" fill="#829297"/>
                                //<path d="M16.8516 15.76C17.68 15.76 18.3516 15.0884 18.3516 14.26C18.3516 13.4316 17.68 12.76 16.8516 12.76C16.0231 12.76 15.3516 13.4316 15.3516 14.26C15.3516 15.0884 16.0231 15.76 16.8516 15.76Z" fill="#829297"/>
                                //<path d="M17.6094 17.48H20.6894V18.5C20.6894 19.35 19.9994 20.04 19.1494 20.04C18.2994 20.04 17.6094 19.35 17.6094 18.5V17.48Z" fill="" stroke="#829297" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                                //<path d="M4.30078 17.48H7.38078V18.5C7.38078 19.35 6.69078 20.04 5.84078 20.04C4.99078 20.04 4.30078 19.35 4.30078 18.5V17.48Z" fill="" stroke="#829297" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                                //</svg>
                                img(src='/assets/img/test.svg/')
                            span.header-sections__1lvl-item-name Автотовары
                    a.header-sections__1lvl-item(data-subsection-id='1').header-sections__1lvl-item-current
                        .header-sections__1lvl-item-wrapper
                            .header-sections__1lvl-item-icon
                                //<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                //<path d="M19.0508 6.85994L18.6208 5.68994H6.37078L4.30078 11.2299H20.6708L20.1508 9.81994" fill=""/>
                                //<path d="M19.0508 6.85994L18.6208 5.68994H6.37078L4.30078 11.2299H20.6708L20.1508 9.81994" stroke="#829297" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                                //<path d="M20.7008 11.26H4.30078V17.45H20.7008V11.26Z" fill="" stroke="#829297" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                                //<path d="M8.10937 15.76C8.9378 15.76 9.60937 15.0884 9.60937 14.26C9.60937 13.4316 8.9378 12.76 8.10937 12.76C7.28095 12.76 6.60938 13.4316 6.60938 14.26C6.60938 15.0884 7.28095 15.76 8.10937 15.76Z" fill="#829297"/>
                                //<path d="M16.8516 15.76C17.68 15.76 18.3516 15.0884 18.3516 14.26C18.3516 13.4316 17.68 12.76 16.8516 12.76C16.0231 12.76 15.3516 13.4316 15.3516 14.26C15.3516 15.0884 16.0231 15.76 16.8516 15.76Z" fill="#829297"/>
                                //<path d="M17.6094 17.48H20.6894V18.5C20.6894 19.35 19.9994 20.04 19.1494 20.04C18.2994 20.04 17.6094 19.35 17.6094 18.5V17.48Z" fill="" stroke="#829297" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                                //<path d="M4.30078 17.48H7.38078V18.5C7.38078 19.35 6.69078 20.04 5.84078 20.04C4.99078 20.04 4.30078 19.35 4.30078 18.5V17.48Z" fill="" stroke="#829297" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                                //</svg>
                                img(src='/assets/img/test.svg/')
                            span.header-sections__1lvl-item-name Автотовары
                    a.header-sections__1lvl-item(data-subsection-id='1').header-sections__1lvl-item-current
                        .header-sections__1lvl-item-wrapper
                            .header-sections__1lvl-item-icon
                                //<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                //<path d="M19.0508 6.85994L18.6208 5.68994H6.37078L4.30078 11.2299H20.6708L20.1508 9.81994" fill=""/>
                                //<path d="M19.0508 6.85994L18.6208 5.68994H6.37078L4.30078 11.2299H20.6708L20.1508 9.81994" stroke="#829297" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                                //<path d="M20.7008 11.26H4.30078V17.45H20.7008V11.26Z" fill="" stroke="#829297" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                                //<path d="M8.10937 15.76C8.9378 15.76 9.60937 15.0884 9.60937 14.26C9.60937 13.4316 8.9378 12.76 8.10937 12.76C7.28095 12.76 6.60938 13.4316 6.60938 14.26C6.60938 15.0884 7.28095 15.76 8.10937 15.76Z" fill="#829297"/>
                                //<path d="M16.8516 15.76C17.68 15.76 18.3516 15.0884 18.3516 14.26C18.3516 13.4316 17.68 12.76 16.8516 12.76C16.0231 12.76 15.3516 13.4316 15.3516 14.26C15.3516 15.0884 16.0231 15.76 16.8516 15.76Z" fill="#829297"/>
                                //<path d="M17.6094 17.48H20.6894V18.5C20.6894 19.35 19.9994 20.04 19.1494 20.04C18.2994 20.04 17.6094 19.35 17.6094 18.5V17.48Z" fill="" stroke="#829297" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                                //<path d="M4.30078 17.48H7.38078V18.5C7.38078 19.35 6.69078 20.04 5.84078 20.04C4.99078 20.04 4.30078 19.35 4.30078 18.5V17.48Z" fill="" stroke="#829297" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                                //</svg>
                                img(src='/assets/img/test.svg/')
                            span.header-sections__1lvl-item-name Автотовары
                    a.header-sections__1lvl-item(data-subsection-id='1').header-sections__1lvl-item-current
                        .header-sections__1lvl-item-wrapper
                            .header-sections__1lvl-item-icon
                                //<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                //<path d="M19.0508 6.85994L18.6208 5.68994H6.37078L4.30078 11.2299H20.6708L20.1508 9.81994" fill=""/>
                                //<path d="M19.0508 6.85994L18.6208 5.68994H6.37078L4.30078 11.2299H20.6708L20.1508 9.81994" stroke="#829297" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                                //<path d="M20.7008 11.26H4.30078V17.45H20.7008V11.26Z" fill="" stroke="#829297" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                                //<path d="M8.10937 15.76C8.9378 15.76 9.60937 15.0884 9.60937 14.26C9.60937 13.4316 8.9378 12.76 8.10937 12.76C7.28095 12.76 6.60938 13.4316 6.60938 14.26C6.60938 15.0884 7.28095 15.76 8.10937 15.76Z" fill="#829297"/>
                                //<path d="M16.8516 15.76C17.68 15.76 18.3516 15.0884 18.3516 14.26C18.3516 13.4316 17.68 12.76 16.8516 12.76C16.0231 12.76 15.3516 13.4316 15.3516 14.26C15.3516 15.0884 16.0231 15.76 16.8516 15.76Z" fill="#829297"/>
                                //<path d="M17.6094 17.48H20.6894V18.5C20.6894 19.35 19.9994 20.04 19.1494 20.04C18.2994 20.04 17.6094 19.35 17.6094 18.5V17.48Z" fill="" stroke="#829297" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                                //<path d="M4.30078 17.48H7.38078V18.5C7.38078 19.35 6.69078 20.04 5.84078 20.04C4.99078 20.04 4.30078 19.35 4.30078 18.5V17.48Z" fill="" stroke="#829297" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                                //</svg>
                                img(src='/assets/img/test.svg/')
                            span.header-sections__1lvl-item-name Автотовары
                    a.header-sections__1lvl-item(data-subsection-id='1').header-sections__1lvl-item-current
                        .header-sections__1lvl-item-wrapper
                            .header-sections__1lvl-item-icon
                                //<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                //<path d="M19.0508 6.85994L18.6208 5.68994H6.37078L4.30078 11.2299H20.6708L20.1508 9.81994" fill=""/>
                                //<path d="M19.0508 6.85994L18.6208 5.68994H6.37078L4.30078 11.2299H20.6708L20.1508 9.81994" stroke="#829297" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                                //<path d="M20.7008 11.26H4.30078V17.45H20.7008V11.26Z" fill="" stroke="#829297" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                                //<path d="M8.10937 15.76C8.9378 15.76 9.60937 15.0884 9.60937 14.26C9.60937 13.4316 8.9378 12.76 8.10937 12.76C7.28095 12.76 6.60938 13.4316 6.60938 14.26C6.60938 15.0884 7.28095 15.76 8.10937 15.76Z" fill="#829297"/>
                                //<path d="M16.8516 15.76C17.68 15.76 18.3516 15.0884 18.3516 14.26C18.3516 13.4316 17.68 12.76 16.8516 12.76C16.0231 12.76 15.3516 13.4316 15.3516 14.26C15.3516 15.0884 16.0231 15.76 16.8516 15.76Z" fill="#829297"/>
                                //<path d="M17.6094 17.48H20.6894V18.5C20.6894 19.35 19.9994 20.04 19.1494 20.04C18.2994 20.04 17.6094 19.35 17.6094 18.5V17.48Z" fill="" stroke="#829297" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                                //<path d="M4.30078 17.48H7.38078V18.5C7.38078 19.35 6.69078 20.04 5.84078 20.04C4.99078 20.04 4.30078 19.35 4.30078 18.5V17.48Z" fill="" stroke="#829297" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                                //</svg>
                                img(src='/assets/img/test.svg/')
                            span.header-sections__1lvl-item-name Автотовары
                    a.header-sections__1lvl-item(data-subsection-id='1').header-sections__1lvl-item-current
                        .header-sections__1lvl-item-wrapper
                            .header-sections__1lvl-item-icon
                                //<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                //<path d="M19.0508 6.85994L18.6208 5.68994H6.37078L4.30078 11.2299H20.6708L20.1508 9.81994" fill=""/>
                                //<path d="M19.0508 6.85994L18.6208 5.68994H6.37078L4.30078 11.2299H20.6708L20.1508 9.81994" stroke="#829297" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                                //<path d="M20.7008 11.26H4.30078V17.45H20.7008V11.26Z" fill="" stroke="#829297" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                                //<path d="M8.10937 15.76C8.9378 15.76 9.60937 15.0884 9.60937 14.26C9.60937 13.4316 8.9378 12.76 8.10937 12.76C7.28095 12.76 6.60938 13.4316 6.60938 14.26C6.60938 15.0884 7.28095 15.76 8.10937 15.76Z" fill="#829297"/>
                                //<path d="M16.8516 15.76C17.68 15.76 18.3516 15.0884 18.3516 14.26C18.3516 13.4316 17.68 12.76 16.8516 12.76C16.0231 12.76 15.3516 13.4316 15.3516 14.26C15.3516 15.0884 16.0231 15.76 16.8516 15.76Z" fill="#829297"/>
                                //<path d="M17.6094 17.48H20.6894V18.5C20.6894 19.35 19.9994 20.04 19.1494 20.04C18.2994 20.04 17.6094 19.35 17.6094 18.5V17.48Z" fill="" stroke="#829297" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                                //<path d="M4.30078 17.48H7.38078V18.5C7.38078 19.35 6.69078 20.04 5.84078 20.04C4.99078 20.04 4.30078 19.35 4.30078 18.5V17.48Z" fill="" stroke="#829297" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                                //</svg>
                                img(src='/assets/img/test.svg/')
                            span.header-sections__1lvl-item-name Автотовары
                    a.header-sections__1lvl-item(data-subsection-id='2')
                        .header-sections__1lvl-item-wrapper
                            .header-sections__1lvl-item-icon
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M18.9233 5.02002H12.3633V11.42H18.9233V5.02002Z" fill="#F6F6F6" stroke="#829297" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M9.06533 13.602C10.546 13.264 11.2581 10.8512 10.6558 8.21287C10.0534 5.57456 8.36483 3.70981 6.88415 4.04785C5.40346 4.38588 4.6914 6.79869 5.29372 9.437C5.89603 12.0753 7.58464 13.9401 9.06533 13.602Z" fill="#F6F6F6" stroke="#829297" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M3.14062 9.67993L5.36063 19.9899H18.6206L20.8606 9.67993H3.14062Z" fill="#F6F6F6" stroke="#829297" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M16.1016 16.47H19.4016" stroke="#829297" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M4.60156 16.47H12.0016" stroke="#829297" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            span.header-sections__1lvl-item-name Бакалея
                    a.header-sections__1lvl-item(data-subsection-id='3')
                        .header-sections__1lvl-item-wrapper
                            .header-sections__1lvl-item-icon
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M18.1411 18.89C17.8711 18.99 17.6011 19.08 17.3411 19.15C15.4811 19.7 13.5211 19.8 11.6011 19.75C10.0111 19.71 8.41109 19.56 6.87109 19.16C5.58109 18.83 4.08109 18.33 3.54109 16.97C3.43109 16.68 3.37109 16.37 3.37109 16.07C3.37109 15.28 3.73109 14.53 4.33109 14.02C5.65109 12.92 7.46109 13.87 8.93109 14.17C11.4111 14.67 14.0111 14.59 16.4311 13.86C17.4311 13.56 18.4711 13.18 19.4311 13.77C20.2311 14.27 20.7511 15.11 20.7511 16.07C20.7511 17.61 19.4411 18.41 18.1311 18.89H18.1411Z" fill="#F6F6F6" stroke="#3AAFF1" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M1.94922 14.5399L3.61922 14.7599V13.1799" fill="#F6F6F6"/>
                                <path d="M1.94922 14.5399L3.61922 14.7599V13.1799" stroke="#3AAFF1" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M17.6411 12.6798C17.9411 12.8598 18.2411 13.0398 18.5511 13.1998C19.4711 13.6798 20.4911 14.1398 20.7611 15.2398C20.9811 16.1598 20.7611 17.1198 20.0911 17.7998C19.0211 18.8998 17.5211 18.5498 16.2511 17.9798C15.9911 17.8598 15.7311 17.7298 15.4911 17.6098C13.7811 16.6998 12.3111 15.3998 10.9711 14.0198C9.87114 12.8798 8.83114 11.6498 8.01114 10.2898C7.32114 9.14981 6.60114 7.73981 7.17114 6.39981C7.29114 6.11981 7.47114 5.85981 7.68114 5.63981C8.23114 5.07981 9.02114 4.78981 9.80114 4.84981C10.8511 4.93981 11.4911 5.68981 12.0211 6.54981" fill="#F6F6F6"/>
                                <path d="M17.6411 12.6798C17.9411 12.8598 18.2411 13.0398 18.5511 13.1998C19.4711 13.6798 20.4911 14.1398 20.7611 15.2398C20.9811 16.1598 20.7611 17.1198 20.0911 17.7998C19.0211 18.8998 17.5211 18.5498 16.2511 17.9798C15.9911 17.8598 15.7311 17.7298 15.4911 17.6098C13.7811 16.6998 12.3111 15.3998 10.9711 14.0198C9.87114 12.8798 8.83114 11.6498 8.01114 10.2898C7.32114 9.14981 6.60114 7.73981 7.17114 6.39981C7.29114 6.11981 7.47114 5.85981 7.68114 5.63981C8.23114 5.07981 9.02114 4.78981 9.80114 4.84981C10.8511 4.93981 11.4911 5.68981 12.0211 6.54981" stroke="#3AAFF1" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M12.0117 6.5498C12.3517 7.0998 12.6517 7.6898 12.9817 8.1798C13.5617 9.0398 14.2317 9.8398 14.9717 10.5698" fill="#F6F6F6"/>
                                <path d="M12.0117 6.5498C12.3517 7.0998 12.6517 7.6898 12.9817 8.1798C13.5617 9.0398 14.2317 9.8398 14.9717 10.5698" stroke="#3AAFF1" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M6.41016 4.7399L8.19016 5.2199L8.35016 3.6499" fill="#F6F6F6"/>
                                <path d="M6.41016 4.7399L8.19016 5.2199L8.35016 3.6499" stroke="#3AAFF1" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M21.3402 18.3799L20.6602 16.9L22.1302 16.7" fill="#F6F6F6"/>
                                <path d="M21.3402 18.3799L20.6602 16.9L22.1302 16.7" stroke="#3AAFF1" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            span.header-sections__1lvl-item-name Кобасные огрызки
                    a.header-sections__1lvl-item(data-subsection-id='5')
                        .header-sections__1lvl-item-wrapper
                            .header-sections__1lvl-item-icon
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6.41859 3.13989H9.29859C9.90859 3.13989 10.4086 3.63989 10.4086 4.24989V5.74989H5.30859V4.24989C5.30859 3.63989 5.80859 3.13989 6.41859 3.13989Z" fill="#F6F6F6" stroke="#829297" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M5.30859 15.83V5.75H12.6886C12.9786 5.75 13.2586 5.77 13.5286 5.81" stroke="#829297" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M13.5386 5.80005C16.4486 6.21005 18.6886 8.71005 18.6886 11.74V20.86H5.30859V19.38" stroke="#829297" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M14.98 11.4998C14.98 10.953 14.5368 10.5098 13.99 10.5098C13.4432 10.5098 13 10.953 13 11.4998V16.5798C13 17.1265 13.4432 17.5698 13.99 17.5698C14.5368 17.5698 14.98 17.1265 14.98 16.5798V11.4998Z" fill="#F6F6F6" stroke="#829297" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>

                            span.header-sections__1lvl-item-name Бытовая химия
                    a.header-sections__1lvl-item(data-subsection-id='6')
                        .header-sections__1lvl-item-wrapper
                            .header-sections__1lvl-item-icon
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M4.06078 18.0801V21.1601H13.2008V11.5501C13.2008 9.80008 11.7808 8.38008 10.0308 8.38008V2.83008H7.22078V8.38008C5.47078 8.38008 4.05078 9.80008 4.05078 11.5501V13.0501" fill="#F6F6F6"/>
                                <path d="M4.06078 18.0801V21.1601H13.2008V11.5501C13.2008 9.80008 11.7808 8.38008 10.0308 8.38008V2.83008H7.22078V8.38008C5.47078 8.38008 4.05078 9.80008 4.05078 11.5501V13.0501" stroke="#829297" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M11.0684 13.76C11.8084 13.1 12.7884 12.71 13.8584 12.71C16.1884 12.71 18.0684 14.6 18.0684 16.92C18.0684 19.24 16.1784 21.13 13.8584 21.13C11.5384 21.13 9.64844 19.24 9.64844 16.92C9.64844 15.66 10.1984 14.53 11.0684 13.76Z" fill="#F6F6F6" stroke="#829297" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M16.2405 11.9099L15.2305 14.5399C15.2305 14.5399 17.3405 11.8999 19.9505 14.2999" stroke="#829297" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>

                            span.header-sections__1lvl-item-name Напитки
            .header-sections__progress-scrollbar
                .header-sections__progress-scrollbar-point
                .header-sections__progress-scrollbar-progressTrack
                //todo: progress bar
            .header-sections__2lvl
                .header-sections__2lvl-wrapper.header-sections__2lvl_current(data-section-id='1')
                    a.header-sections__2lvl-section-name Автотовары
                    .header-sections__2lvl-section-items
                        .header-sections__2lvl-section-items-wrapper
                            a.header-sections__2lvl-section-items-item Все
                            .header-sections__2lvl-section-items-item Все
                            .header-sections__2lvl-section-items-item Все
                            .header-sections__2lvl-section-items-item Все
                .header-sections__2lvl-wrapper(data-section-id='2')
                    a.header-sections__2lvl-section-name Бакалея
                    .header-sections__2lvl-section-items
                        .header-sections__2lvl-section-items-wrapper
                            a.header-sections__2lvl-section-items-item Все
                            .header-sections__2lvl-section-items-item Все
                            .header-sections__2lvl-section-items-item Все
                            .header-sections__2lvl-section-items-item Все
                .header-sections__2lvl-wrapper(data-section-id='3')
                    a.header-sections__2lvl-section-name Колбасные огрызки
                    .header-sections__2lvl-section-items
                        .header-sections__2lvl-section-items-wrapper
                            a.header-sections__2lvl-section-items-item Все
                            a.header-sections__2lvl-section-items-item Все
                            a.header-sections__2lvl-section-items-item Все
                            a.header-sections__2lvl-section-items-item Все
                .header-sections__2lvl-wrapper(data-section-id='5')
                    a.header-sections__2lvl-section-name Бытовая химия
                    .header-sections__2lvl-section-items
                        .header-sections__2lvl-section-items-wrapper
                            a.header-sections__2lvl-section-items-item Все
                            .header-sections__2lvl-section-items-item Все
                            .header-sections__2lvl-section-items-item Все
                            .header-sections__2lvl-section-items-item Все
                .header-sections__2lvl-wrapper(data-section-id='6')
                    a.header-sections__2lvl-section-name Напитки
                    .header-sections__2lvl-section-items
                        .header-sections__2lvl-section-items-wrapper
                            a.header-sections__2lvl-section-items-item Все
                            .header-sections__2lvl-section-items-item Все
                            .header-sections__2lvl-section-items-item Все
                            .header-sections__2lvl-section-items-item Все

