.mob-menu
    .container
        nav.mob-menu__wrapper
            ul.self-btns
                li.self-btns__item
                    <svg width="29" height="30" viewBox="0 0 29 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M24.2726 15.5654V26.9189H4.72656V15.5654" stroke="#3AAFF1" stroke-width="2" stroke-miterlimit="10"/>
                    <path d="M0.941406 14.6521L14.4554 3.55957L28.0564 14.7246" stroke="#3AAFF1" stroke-width="2" stroke-miterlimit="10"/>
                    </svg>
                li.self-btns__item
                    <svg width="31" height="29" viewBox="0 0 31 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M22.2238 19.5165C25.948 19.5165 28.9671 16.4974 28.9671 12.7731C28.9671 9.04888 25.948 6.02979 22.2238 6.02979C18.4996 6.02979 15.4805 9.04888 15.4805 12.7731C15.4805 16.4974 18.4996 19.5165 22.2238 19.5165Z" stroke="#3AAFF1" stroke-width="2" stroke-miterlimit="10"/>
                    <path d="M24.8711 18.77L28.9661 27.24" stroke="#3AAFF1" stroke-width="2" stroke-miterlimit="10"/>
                    <path d="M0.234375 10.4985H11.5394" stroke="#3AAFF1" stroke-width="2" stroke-miterlimit="10"/>
                    <path d="M0.234375 18.5015H11.026" stroke="#3AAFF1" stroke-width="2" stroke-miterlimit="10"/>
                    <path d="M0.234375 26.4932H17.641" stroke="#3AAFF1" stroke-width="2" stroke-miterlimit="10"/>
                    <path d="M0.234375 2.50684H17.641" stroke="#3AAFF1" stroke-width="2" stroke-miterlimit="10"/>
                    </svg>
                li.self-btns__item
                    <svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M14.3324 14.5702C17.6636 14.5702 20.3641 11.8697 20.3641 8.5385C20.3641 5.20731 17.6636 2.50684 14.3324 2.50684C11.0013 2.50684 8.30078 5.20731 8.30078 8.5385C8.30078 11.8697 11.0013 14.5702 14.3324 14.5702Z" fill="#3AAFF1" stroke="#3AAFF1" stroke-width="2" stroke-miterlimit="10"/>
                    <path d="M26.0671 26.4935H2.59375C2.59375 20.0068 7.84375 14.7568 14.3304 14.7568C20.8171 14.7568 26.0671 20.0068 26.0671 26.4935Z" fill="#3AAFF1" stroke="#3AAFF1" stroke-width="2" stroke-miterlimit="10"/>
                    </svg>
                    .self-btns__item-bubble
                        <svg width="10" height="8" viewBox="0 0 10 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 3.14286L4.15 6L9 1" stroke="#32383C" stroke-width="2"/>
                        </svg>
                li.self-btns__item
                    <svg width="27" height="25" viewBox="0 0 27 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13.2909 23.2501L4.05093 14.0101C-3.71907 6.24014 5.52093 -2.99986 13.2909 4.77014C21.2009 -3.13986 30.4409 6.10014 22.5309 14.0101L13.2909 23.2501Z" fill="#3AAFF1" stroke="#3AAFF1" stroke-width="2" stroke-miterlimit="10"/>
                    </svg>
                    .self-btns__item-bubble 1
                li.self-btns__item
                    <svg width="28" height="29" viewBox="0 0 28 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_1188_59044)">
                    <path d="M20.3547 12.2356V7.63631C20.3547 4.12948 17.5142 1.28906 14.0074 1.28906C10.5006 1.28906 7.66016 4.12948 7.66016 7.63631V12.2356" stroke="#3AAFF1" stroke-width="2" stroke-linejoin="round"/>
                    <path d="M15.8743 27.1151H24.7233V18.3535V7.85486H3.28906V27.1151H15.9726" fill="#3AAFF1"/>
                    <path d="M15.8743 27.1151H24.7233V18.3535V7.85486H3.28906V27.1151H15.9726" stroke="#3AAFF1" stroke-width="2" stroke-linejoin="round"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_1188_59044">
                    <rect width="28" height="28.4042" fill="white"/>
                    </clipPath>
                    </defs>
                    </svg>
                    .self-btns__item-bubble 3