.mob-burger#mob-burger
    nav.mob-burger__wrapper
        ul.mob-burger__top
            .mob-burger__top-item-back#burger-button-back
                <svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7 11L2 6L7 1" stroke="#32383C" stroke-width="2"/>
                </svg>
                span.ml-4 Меню
            a(href='#').mob-burger__top-item
                span Условия доставки
            a(href='#').mob-burger__top-item
                span Условия оплаты
            a(href='#').mob-burger__top-item
                span Оформление и возврат
            a(href='#').mob-burger__top-item
                span Помощь
        ul.mob-burger__bottom
            a(href='#').mob-burger__bottom-item
                span О компании
            a(href='#').mob-burger__bottom-item
                span Контакты
            a(href='#').mob-burger__bottom-item
                span Блог
            li.mob-burger__bottom-item
                small(class='text-[12px] text-grey font-normal') © 2018 – 2023 Гипермаркет продуктов Слива цен
                br
                a(href="#").mt-2.w-fit.h-fit.block
                    <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9.5 19C14.7467 19 19 14.7467 19 9.5C19 4.25329 14.7467 0 9.5 0C4.25329 0 0 4.25329 0 9.5C0 14.7467 4.25329 19 9.5 19Z" fill="#4169E1"/>
                    <path d="M14.9749 13.218C14.6985 13.2568 13.3469 13.218 13.2767 13.218C12.9274 13.2224 12.5903 13.089 12.3386 12.8466C12.0536 12.5724 11.7988 12.2701 11.5203 11.983C11.4379 11.8958 11.3488 11.8153 11.2537 11.7422C11.0313 11.5706 10.8111 11.6094 10.7063 11.8718C10.6245 12.1552 10.5675 12.4453 10.5358 12.7386C10.5174 13.0042 10.349 13.1705 10.0511 13.1888C9.86646 13.1985 9.68185 13.2018 9.49941 13.1974C8.83452 13.1932 8.18008 13.0315 7.58969 12.7257C6.95089 12.3697 6.39434 11.8831 5.95634 11.2974C5.23629 10.3777 4.66089 9.36722 4.14702 8.32545C4.12003 8.27364 3.59322 7.15307 3.58026 7.10017C3.53276 6.92312 3.58026 6.75363 3.726 6.69534C3.81884 6.65971 5.55475 6.69534 5.5839 6.69534C5.71295 6.69422 5.83901 6.73421 5.94382 6.80952C6.04863 6.88482 6.12674 6.99154 6.16685 7.1142C6.48775 7.93587 6.9271 8.70618 7.47094 9.40068C7.54706 9.49355 7.63613 9.57499 7.73543 9.6425C7.87685 9.73858 8.01072 9.70511 8.06901 9.5421C8.13809 9.31592 8.17871 9.08202 8.18992 8.84579C8.19964 8.37727 8.18992 8.06852 8.16401 7.60108C8.14674 7.30096 8.04095 7.03756 7.59833 6.95335C7.46231 6.9296 7.45043 6.81733 7.53788 6.70506C7.72032 6.47187 7.96969 6.43517 8.2493 6.42113C8.666 6.39738 9.08271 6.41358 9.49941 6.42113H9.59009C9.77145 6.42047 9.95237 6.43893 10.1299 6.47619C10.2348 6.49741 10.33 6.55197 10.4014 6.63173C10.4728 6.71149 10.5165 6.81218 10.5261 6.9188C10.5474 7.03703 10.5564 7.15713 10.553 7.27721C10.5423 7.78892 10.5174 8.29954 10.512 8.81125C10.5071 9.01385 10.5255 9.21635 10.5671 9.41471C10.6265 9.68676 10.8132 9.75477 10.9989 9.55829C11.2393 9.3043 11.4599 9.03217 11.6585 8.74432C12.0098 8.2197 12.2995 7.65644 12.5221 7.06562C12.643 6.76227 12.738 6.69534 13.0619 6.69534H14.9036C15.0131 6.69342 15.1223 6.70797 15.2275 6.73852C15.2647 6.7483 15.2995 6.76567 15.3297 6.78953C15.3599 6.81339 15.3849 6.84322 15.403 6.87717C15.4212 6.91112 15.4321 6.94845 15.4351 6.98682C15.4382 7.0252 15.4333 7.06378 15.4207 7.10017C15.33 7.50392 15.112 7.84829 14.8809 8.17971C14.5063 8.71085 14.1112 9.22795 13.728 9.75045C13.6795 9.81975 13.6352 9.89184 13.5952 9.96636C13.4505 10.2265 13.4613 10.3723 13.6708 10.5893C14.0054 10.9326 14.3628 11.2553 14.6855 11.6094C14.9225 11.8668 15.1364 12.1446 15.3246 12.4396C15.5611 12.8056 15.4153 13.1553 14.9749 13.218Z" fill="white"/>
                    </svg>
