.overlay{
  @apply opacity-20 bg-black fixed top-0 left-0 w-full h-full hidden z-[99] ;
}
.btn{
    @apply rounded;
    width: fit-content;
    height: fit-content;
    text-align: center;
}
.inpt{
    @apply rounded lg:rounded-none;
    padding: 15px 0px 15px 18px;
}
.inpt.grey{
    @apply bg-lighter-grey;
  ::placeholder{
      color: var(--white);
  }
}
.inpt.white{
    @apply bg-white;
  ::placeholder{
      color: var(--grey);
  }
}
.wrapper-content{
  min-height: 100vh;
}
.inner-content{
  @apply pb-[50px] md:pb-[80px] pt-[30px];
}
.wrapper-page{
  @apply relative;
}
.search-field{
  &__inpt{
       @apply lg:hidden 2lg:block bg-white 2lg:bg-lighter-grey;
   }
  &__wrapper{
       @apply relative 2lg:flex;
   }
  &__ico{
       @apply absolute right-3 top-0 bottom-0 m-auto h-fit w-fit lg:hidden;
   }
  &__btn{
       @apply bg-green hidden lg:block;
       padding: 10px;
   }
}
.breadcrumbs{
  @apply hidden xl:block mb-10;
  &__{
    &wrapper{
      @apply flex items-baseline;
    }
    &item{
      @apply text-green text-[15px];
    }
    &item:not(:last-child){
      @apply mr-[10px];
      :after{
        @apply ml-[10px];
        content: '';
        background: url(/src/assets/img/breadcrumb-toright-arrow.svg);
        width: 5px;
        height: 10px;
        display: inline-block;
        background-size: cover;
      }
    }
    &item:last-child{
      @apply text-grey text-[16px];
    }
  }
}
*{
    font-family: Mulish;
    font-weight: 400;
}

/* choices theme custom */
.choices{
  height: fit-content;
  margin: 0px !important;
}
.choices__inner{
  background-color: var(--white) !important;
  border: 0px solid transparent !important;
}
.choices__list--dropdown, .choices__list[aria-expanded]{
  border: 0px !important;
  margin-top: 20px !important;
  border-radius: 4px !important;
  box-shadow: 0px 4px 15px rgba(130, 146, 151, 0.12);
}
.choices__list--dropdown .choices__item--selectable, .choices__list[aria-expanded] .choices__item--selectable{
  padding-right: 40px !important;
}
.choices__list--single .choices__item {
  @apply text-[14px] md:text-[16px];
  color: var(--blue);
  font-weight: 700;
}
.choices__list--dropdown .choices__item, .choices__list[aria-expanded] .choices__item{
  font-size: 16px !important;
  font-weight: 400 !important;
}
.choices[data-type*=select-one].is-open::after{
  transform: rotateX(180deg);
}
.choices[data-type*=select-one]::after{
  background: url(/src/assets/img/cbbox-right.svg);
  border: none !important;
  width: 13px !important;
  height: 9px !important;
  background-position: center;
  background-size: cover;
}

/* switch theme custom */
.switch-checked{
  background-color: var(--blue) !important;
}

/*customize checkbox*/
.checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.checkbox+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.checkbox+label::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 2px solid var(--light-grey);
  border-radius: 4px;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 70%;
}
.checkbox:checked+label::before {
  border-color: var(--blue);
  background-color: var(--blue);
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='7' viewBox='0 0 10 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 2L4.5 5.5L9 1' stroke='white' stroke-width='2'/%3E%3C/svg%3E%0A");
}
/* стили при наведении курсора на checkbox */
.checkbox:not(:disabled):not(:checked)+label:hover::before {
  border-color: #b3d7ff;
}
/* стили для активного состояния чекбокса (при нажатии на него) */
.checkbox:not(:disabled):active+label::before {
  background-color: #b3d7ff;
  border-color: #b3d7ff;
}
/* стили для чекбокса, находящегося в фокусе */
.checkbox:focus+label::before {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.checkbox:focus:not(:checked)+label::before {
  border-color: #80bdff;
}
/* стили для чекбокса, находящегося в состоянии disabled */
.checkbox:disabled+label::before {
  background-color: #e9ecef;
}

body{
    @apply bg-global-bg;
}
small{
    @apply text-14px font-light leading-[18px];
}
span,h1,h2,h3,p{
    @apply text-black;
}
.title-style{
  @apply font-extrabold text-[20px] leading-[25px] md:text-[26px] leading-[32px] lg:text-[30px] lg:leading-[37px] 2lg:text-[40px] 2lg:leading-[50px];
}
