/**
 * Variables
*/

/* Typography */
/* Breakpoints */
/* Paths */
/* Grid setup */
/* Colour palette */
:root {
    --green        : #40B484;
    --violet       : #AA51B9;
    --blue         : #3AAFF1;
    --light-blue   : #CFE2FF;
    --yellow       : #FFD978;
    --black        : #32383C;
    --grey         : #829297;
    --light-grey   : #D2D6D9;
    --lighter-grey : #F6F7F9;
    --white        : #FFFFFF;
    --red          : #E77280;
    --global-bg    : #F6F6F6;
}
/* Components */
