.about-title {
    @apply grid gap-4;
    grid-template-columns: 7fr 1fr;

    & h1 {
        @apply text-20px;
        font-weight: 800;
        line-height: 25px;
        text-align: end;
        justify-self: flex-start;
    }
}



.about-content {
    @apply grid grid-cols-1 gap-4 mb-10;
}

.about-content_item p {
    @apply text-14px;
}

.about-content__subject {
    @apply text-16px;
    font-weight: 800;
    background: linear-gradient(77.52deg, #AA51B9 10.57%, #EC7BFF 90.94%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.headline {
    @apply font-black text-16px mb-8;
    line-height: 20px;
}

.why-we {
    @apply grid gap-y-8 mb-13;
    grid-template-columns: 1fr 8fr;

    &_block{
        @apply flex;
    }

    & img{
        @apply mr-10 self-start;
        max-width: 77px;
        max-height: 60px;
    }
}

.text-bold{
    @apply font-extrabold text-14px;
}

.why-we_content p{
    @apply text-12px;
}

@media (min-width: 375px) {
    .about-title {
        & h1 {
            @apply text-24px;
        }
    }
}

@media (min-width: 430px) {
    .about-title {
        & h1 {
            @apply text-30px;
        }
    }
}


@media (min-width: 480px) {
    .about-title {
        @apply grid gap-3;
        grid-template-columns: 6fr 1fr;

        & h1 {
            @apply text-30px;
            line-height: 38px;
        }
    }
    .why-we_content p{
        @apply text-14px;
    }

    .text-bold{
        @apply text-18px;
    }
}

@media (min-width: 720px) {
    .about-title {
        @apply grid gap-13;
        grid-template-columns: 5fr 1fr;

        & h1 {
            @apply text-40px;
            line-height: 50px;
        }
    }

    .why-we_content p{
        @apply text-16px;
    }

    .text-bold{
        @apply text-20px;
    }
}

@media (min-width: 1024px) {
    .about-title {
        @apply grid gap-13;
        grid-template-columns: 4fr 1fr;

        & h1 {
            @apply text-60px;
            line-height: 75px;
        }
    }

    .about-content {
        @apply grid grid-cols-3 gap-8 mb-20;
    }
}

@media (min-width: 1280px) {
    .about-title {
        @apply grid gap-13;


        & h1 {
            font-size: 80px;
            line-height: 100px;
        }
    }

    .about-content_item p {
        @apply text-18px;
    }

}

@media (min-width: 1440px) {
    .about {
        @apply mt-5;
        font-family: 'Mulish';
    }

    .about-title {
        @apply grid;


        & h1 {
            @apply text-90px;
            font-weight: 800;
            line-height: 113px;
        }
    }

    .about-content__subject {
        @apply text-40px;
        font-weight: 800;
        background: linear-gradient(77.52deg, #AA51B9 10.57%, #EC7BFF 90.94%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .headline {
        @apply font-black text-40px mb-10;
        line-height: 50px;
    }

    .why-we {
        @apply grid grid-cols-4 gap-15 mb-20;
        grid-template-columns: 0.2fr 2fr 0.2fr 2fr;

        &_block{
            @apply flex;
        }

        & img{
            @apply mr-10 self-center;
            max-width: 184px;
            max-height: 142.4px;
        }

        &_content{
            @apply -ml-15 text-16px;
        }
    }

}