//@media (hover: none) and (pointer: coarse) and (min-width:480px)  {
//  h1{
//    font-size: 30px;
//  }
//}
//@media handheld and (min-width:480px){
//
//}

header{
  @apply lg:bg-white ;
  padding: 20px 0;
  box-shadow: 0px 7px 15px -13px #829297E0;
}

.nav-line{
  @apply lg:pb-2 lg:border-b-[1px] lg:border-[var(--global-bg)];
  &__wrapper{
    @apply grid grid-cols-[auto,1fr] sm:grid-cols-[auto,1fr,auto] sm:gap-7 gap-2 lg:flex lg:justify-between ;
  }
  &__burger-button{
    @apply rounded m-auto bg-blue p-3 w-fit m-auto  ;
  }
  &__question-button{
    @apply hidden sm:block rounded m-auto bg-blue p-[10px] w-fit m-auto  ;
  }
  &__link{
    @apply text-14px leading-[17px] font-bold;
  }
  &__link:not(:last-child){
    margin-right: 30px;
  }
  &__item-desk{
    @apply hidden lg:flex;
  }
  &__item-mob{
    @apply lg:hidden;
  }
}
.regions{
  @apply bg-white text-blue p-[9px_29px] w-full h-fit m-auto h-full relative rounded lg:bg-blue lg:text-white lg:rounded-none;
  &__wrapper{
    @apply grid grid-cols-[1fr,5fr] 2lg:block xl:grid  items-center w-fit m-auto;
  }
  &__city{
     @apply font-bold text-[14px] truncate leading-[17px] ;
  }
  &__delivery{
    @apply text-[12px] leading-[15px];

  }
}
.logo{
  @apply w-fit;
}

.main-line{
  @apply mt-[10px]  ;
  &__wrapper{
    @apply lg:grid lg:grid-cols-[repeat(3,auto)] 2lg:grid-cols-[auto,1fr,auto] lg:gap-10 lg:items-end;
  }
  &__item-mob{
    @apply lg:hidden;
  }
  &__item-desk{
    @apply hidden lg:block;
  }
  &__btns{
    @apply flex 2lg:grid 2lg:grid-cols-[1fr,1fr,4fr] xl:grid-cols-[3fr,1fr,4fr];
  }
  &__btn:not(:last-child){
    @apply mr-[18px] 2lg:mr-[24px];
  }
  &__catalog-btn{
    @apply bg-green flex text-white justify-center items-center px-3 h-full font-bold;
    span{
      font-weight: 600;
    }
  }
}

.self-btns{
  @apply flex items-end justify-between lg:justify-center;
  &__item{
    @apply relative;
    &-bubble{
      @apply absolute rounded-[100px] bg-global-bg p-1 -top-2 -right-3 text-12px font-extrabold leading-[15px] w-5 h-5 flex items-center justify-center;
    }
    > svg{
      min-height: 30px;
      min-width: 30px;
    }
  }
  &__item:not(:last-child){
    @apply mr-7 lg:mr-11;
  }
}
