.banners{
  &__{
    &wrapper{
      @apply overflow-hidden;
    }
    &image-wrapper{
      @apply overflow-hidden rounded lg:rounded-none;
    }
    &image-content{
      @apply max-w-full max-h-full w-full h-full;
    }
  }
}
.storys{
  @apply overflow-hidden max-w-[550px] m-auto;
  &__{
    &icon{
      padding: 3px;
      border-radius: 100%;
      border-width: 3px;
      border-style: solid;
      //border-image-source: linear-gradient( #00BC69 , #33FFA5 );
      width:58px;
      height: 58px;
      border-image-slice: 20;
      background-clip: border-box;

      //background: linear-gradient( #00BC69 , #33FFA5 ) border-box;
      //border: 3px solid transparent;
      img{
        width: 100%;
        height: 100%;
      }
    }
    &wrapper{

    }
    &item-wrapper{
      @apply flex flex-col items-center w-[94px]  items-center m-auto;
    }
    &title{
      @apply text-[12px] sm:text-[15px] font-semibold mt-1;
    }
  }
}
.slivniye-prices{
  @apply overflow-hidden;
  &__{
    &wrapper{
    }
    &image-wrapper{
      @apply overflow-hidden max-w-[155px] max-h-[155px];
    }
    &btn{
      &-wrapper{
        //@apply absolute flex flex-col right-0 items-center;
        @apply absolute flex flex-col right-0 items-center bottom-0 top-0 mt-auto mb-24 h-fit ;
      }
      &-fav{
        @apply mb-3 bg-light-grey p-[8px_7px_8px_7px] w-fit h-fit;
        border-radius: 100%;
      }
      &-buy{
        @apply bg-violet p-[13px] w-fit h-fit;
        border-radius: 100%;
      }
    }
    &discount{
      @apply w-[62px] h-[68px] top-2 left-5 absolute text-white text-16px flex items-center justify-center font-bold;
      background:url(/src/assets/img/slivka.svg);
    }
    &item{
      @apply relative;

      &-wrapper{
        @apply rounded bg-white pt-5 pr-11 pl-11 pb-5 sm:py-[11px] sm:px-4 2lg:p-5;
        width: calc(100% - 26px);
      }
    }
    &old-price{
      @apply font-light text-[12px] text-light-grey text-center 2lg:text-[15px];
    }
    &price{
      @apply text-violet font-black text-[20px]  2lg:text-[26px];
    }
    &image-wrapper{
      @apply w-fit m-auto;
    }
    &measure{
      @apply text-[12px] font-medium 2lg:text-16px;
    }
  }
}

.short-info{
  &__{
    &wrapper{
      @apply grid grid-cols-1 2lg:grid-cols-2 gap-[30px] ;
    }
    &content-wrapper{
      @apply px-[140px] pt-[30px] pb-[40px] 2lg:px-8 2lg:pt-[30px] 2lg:pb-9;
    }
    &map-wrapper{
      @apply h-[400px] 2lg:h-full;
    }
    &content{
      @apply bg-white;
    }
    &table{
      @apply grid grid-cols-2 gap-y-10;
    }
    &table-item{
      @apply flex flex-col text-center items-center text-[15px];
      svg{
        @apply mb-4;
      }
    }
  }
}
.catalog{
  &-slider{
    @apply overflow-hidden;
  }
  &-items{
    &__{
      &wrapper {
        @apply grid grid-cols-1 gap-5 sm:grid-cols-2 sm:gap-x-[15px] sm:gap-y-[30px] md:grid-cols-3 md:gap-x-[14px] md:gap-y-10 lg:grid-cols-4 lg:gap-x-[23px] 2lg:gap-x-[24px] 2lg:gap-y-[50px] xl:grid-cols-5 xl:gap-x-[31px] ;
      }
      &top-bar{
        &-wrapper{
          @apply mb-[30px];
        }
        &-fast-nav{
          @apply lg:hidden mb-5 sm:mb-10;
          &-wrapper{
            @apply flex flex-row flex-nowrap overflow-y-scroll;
          }::-webkit-scrollbar {
             display: none;
           }
          &-item{
            @apply block text-[16px] font-[500] whitespace-nowrap rounded text-grey py-[6px] px-[10px];
            &__current{
              @apply bg-green text-white;
              border:1px solid transparent;
            }
            border:1px solid var(--grey);
          }
          &-item:not(:last-child){
            @apply mr-[17px];
          }
        }
        &-filters{
          &-wrapper{
            @apply grid grid-cols-1 md:grid-cols-[2fr_5fr] gap-y-[15px] md:gap-x-[200px] lg:gap-x-[400px] 2lg:gap-x-[600px];

          }
          &-filter{
            @apply text-white bg-blue col-span-2 md:col-span-1 text-center rounded py-[6px] flex items-center justify-center cursor-pointer h-full;
            &-wrapper{
              @apply fixed flex flex-col justify-between top-0 -left-[100%] w-full h-[calc(100%-77px)] lg:h-full bg-white z-[100] block duration-mid  max-w-[281px] md:max-w-[500px] lg:max-w-[50%];
              &-shown{
                @apply left-0;
              }
            }
            &-scroll{
              @apply pb-[124px];
              overflow-y: auto;
            }
            &-single-option{
              @apply flex justify-between;
            }
            &-block{
              @apply mx-[25px] mt-[25px] pb-5;
              &-title{
                @apply text-[18px] font-bold mb-5;
              }
              &-option{
                &-text{
                  @apply text-[16px] font-[600];
                }
                &-wrapper{
                  @apply pt-[20px];
                }
              }
              &-option:not(:last-child){
                @apply mb-[13px];
              }
              &-show-more{
                @apply text-blue text-[14px] font-bold mt-2 cursor-pointer;
              }
            }
            &-bottom-block{
              @apply w-full absolute bg-white bottom-0 ;
              &-wrapper{
                @apply    mx-[25px]  left-0 pb-5;;
              }
              &-apply{
                @apply bg-blue text-white text-[16px] text-center  py-[12px] rounded cursor-pointer;
              }
              &-reject{
                @apply bg-light-grey text-white text-[16px] text-center py-[12px] rounded cursor-pointer;
              }
            }
            &-block:first-child{
              @apply mt-[30px]  ;
            }
            &-block:not(:last-child){
              border-bottom: 1px solid var(--light-grey);
            }
            &-outer{

            }
          }
        }
      }
    }
  }
  &-slider, &-items{
    &__{
      &wrapper{
      }
      &additional{
        &-wrapper{
          @apply absolute flex flex-col right-0 items-center bottom-0 top-0 mt-auto mb-24 h-fit ;
        }
        &-fav{
          @apply mb-3 bg-light-grey p-[8px_7px_8px_7px] w-fit h-fit;
          border-radius: 100%;
        }
        &-buy{
          @apply bg-violet p-[13px] w-fit h-fit;
          border-radius: 100%;
        }
        &-bonuses{
          @apply flex flex-col bg-[#CFE2FF] items-center py-[1px] px-[3px] mb-3 2lg:mb-20;
          border-radius: 30px;
        }
      }
      &discount{
        @apply top-2 left-5 absolute text-white py-3 px-1 text-16px flex items-center justify-center font-bold bg-green;
        border-radius: 100%;
        min-height: 50px;
        min-width: 50px;
        align-items: center;
      }
      &promo{
        @apply rounded absolute right-[26px] top-0 bg-blue text-white px-4 py-1 text-16px font-bold;
      }
      &item{
        @apply relative;

        &-wrapper{
          @apply rounded bg-white p-2 pb-3 sm:py-[11px] sm:px-4 2lg:p-5;
          width: calc(100% - 26px);
        }
      }

      &old-price{
        @apply font-light text-[12px]  leading-[14px] 2lg:leading-[18px] text-light-grey text-center 2lg:text-[15px];
      }
      &price{
        @apply font-black text-[18px]  2lg:text-[26px];
      }
      &image-wrapper{
        @apply overflow-hidden w-fit m-auto
        w-[155px] h-[155px]
        2lg:h-[220px] 2lg:w-[220px]
        xl:h-[254px]  xl:w-[254px] ;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &measure{
        @apply text-[12px] font-medium 2lg:text-16px;
      }
      &name{
        @apply min-h-[40px] sm:min-h-[60px] leading-[15px] text-[12px] font-bold line-clamp-2 sm:line-clamp-3 2lg:text-16px leading-[20px];
      }
      &quantity{
        &-block{
          @apply bg-global-bg rounded overflow-hidden;
        }
        &-wrapper{
          @apply py-[9px] px-6 flex flex-row justify-between items-center;
        }
      }
    }
  }

}
.banners-special-prices{
  &__{
    &wrapper{
      @apply grid grid-cols-1 md:grid-cols-2 gap-5 md:gap-8 lg:gap-6 2lg:gap-7 xl:gap-17;
    }
    &item{

    }
  }
}