.mob-burger{
  @apply fixed w-full  bg-white z-[102] top-0 -left-[320px] duration-fast ease-out bottom-0 right-0 lg:hidden rounded-[0px_4px_4px_0px];
  height: calc(100% - 77px);
  max-width:320px;
  &__{
    &wrapper{
      @apply flex flex-col justify-between h-full;
    }
    &top-item{
      @apply px-[40px] py-[10px] block;
      border-bottom: 1px solid var(--lighter-grey);
      &-back{
        @apply cursor-pointer px-[40px] py-7 flex flex-row items-center;
        border-bottom: 1px solid var(--lighter-grey);
        span{
          @apply font-bold text-[14px] leading-[18px];
        }
      }
      span{
        @apply font-bold text-[14px] leading-[18px];
      }
    }
    &bottom-item{
      @apply  px-[40px] py-[10px] block;
      border-bottom: 1px solid var(--lighter-grey);
      span{
        @apply text-blue font-bold text-[14px] leading-[18px];
      }
    }
  }
  &-show{
    @apply left-0;
  }
}

@media (min-width:1024px) {
  .mob-burger{

  }
}