.delivery {
    padding: 40px 0;
}

.delivery_left-menu,
.delivery_content_block {
    @apply bg-white rounded;
}

.active {
    @apply text-blue;
}

.delivery_left-menu {
    @apply h-[155px] w-[196px];
    padding: 20px;

    & .left-menu_list a {
        @apply font-bold text-16px leading-5 mb-[17px];
    }
}
//
.delivery_content_block {
    padding: 20px 18px;
}

.delivery-header {
    @apply mb-[30px] font-extrabold text-[20px] leading-[50px];
}

.delivery_left-menu{
    display: none;
}

.delivery_content {
    @apply grid gap-y-5;
    grid-template-rows: 0.5fr 2fr;
}

.delivery_content-title {
    @apply font-extrabold text-16px text-blue mb-[10px];
}

.delivery_content-text {
    @apply font-normal text-12px leading-[15px];

    & p {
        @apply mb-[17px];
    }
}

.delivery_content__list {
    margin: 0 0 17px 36px;

    & li{
        @apply list-disc ml-[10px] text-black;
    }
}


@media (min-width: 480px) {
    .delivery_content-title {
        @apply font-extrabold text-18px mb-[17px];
    }
    .delivery_content-text {
        @apply text-14px leading-[17px];
    }
}


@media (min-width: 720px) {
    .delivery_left-menu {
        @apply h-[155px] w-[196px] block;
        padding: 20px;

        & li {
            @apply font-bold text-16px leading-5 mb-[17px];
        }
    }

    .delivery_content_block {
        padding: 20px 18px;
    }

    .delivery-header {
        @apply text-[26px];
    }

    .delivery_container {
        @apply grid gap-[36px];
        grid-template-columns: 1fr 3fr;
    }

    .delivery_content {
        @apply grid gap-y-5;
        grid-template-rows: 0.5fr 2fr;
    }
    

    .delivery_content-title {
        @apply text-18px;
    }

    .delivery_content-text {
        @apply text-14px leading-5;

        & p {
            @apply mb-[17px];
        }
    }
}

@media (min-width: 1024px) {
    .delivery-header {
        @apply text-30px leading-[37px];
    }
    .delivery_container {
        @apply grid gap-[40px];
        grid-template-columns: 1fr 4fr;
    }
}

@media (min-width: 1280px) {
    .delivery_content_block {
        padding: 20px 26px;
    }

    .delivery_container {
        @apply grid gap-[25px];
        grid-template-columns: 1fr 5fr;
    }

}


@media (min-width: 1440px) {
    .delivery_content_block {
        padding: 20px 30px;
    }

    .delivery_container {
        @apply grid gap-[38px];
        grid-template-columns: 1fr 6fr;
    }
}