extends ../layout/main

block content
    div.about.inner-content
        section
            .container
                .about-title
                    h1 Онлайн-гипермаркет <br>«Слива цен»
                    img(src="../../assets/img/logo-about.png" alt="sliva").image-container
                .about-content
                    .item
                        span.subject Крупный
                        p интернет-магазин, который полностью отвечает повышенному спросу на доставку продуктов питания прямо к Вам в квартиру, офис, дом!
                    .item
                        span.subject Низкие
                        p оптовые цены и широкий ассортимент нашего интернет –магазина Вас приятно порадуют! Наши поставщики, это проверенные многолетним сотрудничеством производители.
                    .item
                        span.subject Выгодные
                        p и безопасные покупки продуктов! Избавляем от лишних походов в магазины.
                        p Обеспечиваем доставку точно в нужное место и время.
                h2.headline Почему у нас заказывать удобно?
                div.why-we

                    img(src="../../assets/img/optov.png" alt="img")
                    .why-we_content
                        span.text-bold Оптовые цены
                        p Опыт, который наработан нами за два с лишним десятилетия в области оптовой торговли, дает нам право считать себя одним из самых надежных поставщиков продуктов для своих клиентов. Теперь мы рады предложить свои услуги и частным покупателям, которые хотят экономить приобретая продукты по низким ценам!

                    img(src="../../assets/img/classic.png" alt="img")
                    .why-we_content
                        span.text-bold Качественный сервис
                        p Мы постарались сделать максимально удобным для Вас любой из способов заказа. Выберите продукцию и добавьте ее в корзину. Выберите дату, время и место доставки либо позвоните по номерам из раздела Контакты и менеджер поможет оформить заказ. Слива цен — это только лучшие товары в соотношении Цена-Качество!
