extends ../layout/main

block variables

block content
    .inner-content
        .container
            .breadcrumbs
                .breadcrumbs__wrapper
                    .breadcrumbs__item
                        a(href='/') Главная
                    .breadcrumbs__item
                        a(href='/catalog/') Корзина
            h1.title-style.mb-10 Корзина
            .basket
                .basket__wrapper
                    .basket__available-deliv
                        span(class='text-[16px] font-semibold') Доступные способы оплаты
                        div.flex
                            .flex.items-center.mr-7
                                div
                                    <svg width="38" height="32" viewBox="0 0 38 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M28.8167 26.3312H31.085V20.8935L27.7431 15.0797H21.8984" stroke="#32383C" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M28.9028 27.3163C28.9028 27.7072 28.7864 28.0894 28.5682 28.4145C28.3501 28.7396 28.0399 28.9931 27.677 29.1431C27.3141 29.293 26.9147 29.3326 26.5291 29.2569C26.1436 29.1812 25.7893 28.9935 25.5109 28.7177C25.2325 28.4418 25.0425 28.09 24.9649 27.7068C24.8873 27.3236 24.9256 26.9261 25.075 26.5646C25.2243 26.203 25.478 25.8936 25.8041 25.6753C26.1301 25.4571 26.5138 25.3398 26.9068 25.3383C27.1688 25.3363 27.4286 25.3861 27.6712 25.4847C27.9138 25.5833 28.1343 25.7288 28.32 25.9128C28.5056 26.0967 28.6528 26.3155 28.7528 26.5565C28.8529 26.7974 28.9039 27.0557 28.9028 27.3163Z" stroke="#32383C" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M10.6997 27.3163C10.6997 27.7075 10.5831 28.0899 10.3646 28.4152C10.1461 28.7405 9.83552 28.994 9.47217 29.1438C9.10881 29.2935 8.70898 29.3326 8.32324 29.2563C7.93751 29.18 7.58319 28.9916 7.30508 28.715C7.02698 28.4383 6.83759 28.0859 6.76087 27.7022C6.68414 27.3185 6.72352 26.9208 6.87402 26.5593C7.02453 26.1979 7.27941 25.889 7.60642 25.6716C7.93343 25.4543 8.31789 25.3383 8.71119 25.3383C8.97261 25.3373 9.23164 25.3878 9.47335 25.4868C9.71506 25.5859 9.93467 25.7315 10.1195 25.9154C10.3044 26.0993 10.4508 26.3177 10.5504 26.5582C10.65 26.7986 10.7007 27.0563 10.6997 27.3163Z" stroke="#32383C" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M10.6977 26.3312H21.8955V10.0858H3.96094V26.3312H6.86434" stroke="#32383C" stroke-linejoin="round"/>
                                    <path d="M16.9431 22.8188H3.96094" stroke="#32383C" stroke-linejoin="round"/>
                                    <path d="M24.6809 26.3311H21.8984" stroke="#32383C" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M30.8028 20.8935H24.6406V15.0797" stroke="#32383C" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M37.7907 5.23481C37.5412 8.15296 32.8836 12.7558 32.8836 12.7558C32.8836 12.7558 28.2563 8.34851 27.9766 5.23481C27.9795 4.59282 28.1096 3.9577 28.3593 3.36571C28.6091 2.77373 28.9736 2.23647 29.4321 1.78461C29.8905 1.33275 30.434 0.975137 31.0314 0.732196C31.6288 0.489255 32.2685 0.365741 32.9139 0.368704C33.5593 0.371667 34.1978 0.501051 34.7929 0.749467C35.388 0.997882 35.9281 1.36047 36.3824 1.81652C36.8366 2.27257 37.1961 2.81315 37.4404 3.4074C37.6846 4.00166 37.8088 4.63794 37.8058 5.27993L37.7907 5.23481Z" fill="#40B484"/>
                                    <path d="M32.7529 6.77651C33.7425 6.77651 34.5448 5.97847 34.5448 4.99403C34.5448 4.00959 33.7425 3.21155 32.7529 3.21155C31.7632 3.21155 30.9609 4.00959 30.9609 4.99403C30.9609 5.97847 31.7632 6.77651 32.7529 6.77651Z" fill="#CFE2FF"/>
                                    </svg>
                                span(class='text-[12px] font-semibold') Курьером
                            .flex.items-center
                                div
                                    <svg width="28" height="27" viewBox="0 0 28 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15.1239 3.05324L4.78804 9.18287L1 7.01682L11.54 1L22.0799 7.08451L11.8348 13.3194L8.25095 11.2361" stroke="#32383C" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M7.90234 11.0028L17.9735 4.98596" stroke="#32383C" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M4.64488 9.22051L8.23634 11.2211L11.8353 13.3119V25.7141L1.16684 19.404C1.16684 19.404 1.0988 7.09206 1.01562 7.01685L4.66 9.09265V16.2978L7.84317 18.163L7.92634 11.003" stroke="#32383C" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M11.8359 25.7139L22.081 19.479V7.08435L11.8359 13.3193V25.7139Z" stroke="#32383C" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M27.0094 18.8662C26.7599 21.7843 22.1024 26.3872 22.1024 26.3872C22.1024 26.3872 17.4751 21.9799 17.1953 18.8662C17.1983 18.2242 17.3284 17.589 17.5781 16.9971C17.8278 16.4051 18.1923 15.8678 18.6508 15.416C19.1093 14.9641 19.6527 14.6065 20.2501 14.3635C20.8476 14.1206 21.4872 13.9971 22.1326 14.0001C22.778 14.003 23.4165 14.1324 24.0116 14.3808C24.6068 14.6292 25.1469 14.9918 25.6011 15.4479C26.0554 15.9039 26.4149 16.4445 26.6591 17.0388C26.9034 17.633 27.0275 18.2693 27.0246 18.9113L27.0094 18.8662Z" fill="#40B484"/>
                                    <path d="M21.9755 20.4079C22.9652 20.4079 23.7675 19.6098 23.7675 18.6254C23.7675 17.6409 22.9652 16.8429 21.9755 16.8429C20.9859 16.8429 20.1836 17.6409 20.1836 18.6254C20.1836 19.6098 20.9859 20.4079 21.9755 20.4079Z" fill="#CFE2FF"/>
                                    </svg>
                                span(class='text-[12px] font-semibold') Курьером