extends ../layout/main

block variables
  - var title = 'Главная';
  - var description = 'Главная страница';
  - var pageClass = 'index';
  


block content
  .container
    section.banners
      .banners__wrapper
        .swiper-wrapper
          .swiper-slide
            .banners__image-wrapper
              picture
                source(srcset='/assets/img/banner-slide-mid.png' media='(min-width:720px) and (max-width:1023px)')
                source(srcset='/assets/img/banner-slide-pc.png' media='(min-width:1024px)')
                source(srcset='/assets/img/banner-slide-mob.png' )
                image.banners__image-content
          .swiper-slide
            .banners__image-wrapper
              picture
                source(srcset='/assets/img/banner-slide-mid.png' media='(min-width:720px) and (max-width:1023px)')
                source(srcset='/assets/img/banner-slide-pc.png' media='(min-width:1024px)')
                source(srcset='/assets/img/banner-slide-mob.png' )
                image.banners__image-content
    section.mt-10
      .storys
        .storys__wrapper.swiper-wrapper
          .storys__item.swiper-slide
            .storys__item-wrapper
              .storys__icon.border-green
                img(src='/assets/img/storys-icons/story-logo-new.png')
              span.storys__title Новинки
          .storys__item.swiper-slide
            .storys__item-wrapper
              .storys__icon.border-violet
                img(src='/assets/img/storys-icons/hoztovari-pic.png')
              span.storys__title Хозтовары
          .storys__item.swiper-slide
            .storys__item-wrapper
              .storys__icon.border-violet
                img(src='/assets/img/storys-icons/barilla-pic.png')
              span.storys__title Barilla
          .storys__item.swiper-slide
            .storys__item-wrapper
              .storys__icon.border-green
                img(src='/assets/img/storys-icons/sausages-pic.png')
              span.storys__title Sasiski
          .storys__item.swiper-slide
            .storys__item-wrapper
              .storys__icon.border-violet
                img(src='/assets/img/storys-icons/hoztovari-pic.png')
              span.storys__title Хозтовары
          .storys__item.swiper-slide
            .storys__item-wrapper
              .storys__icon.border-violet
                img(src='/assets/img/storys-icons/barilla-pic.png')
              span.storys__title Barilla
          .storys__item.swiper-slide
            .storys__item-wrapper
              .storys__icon.border-violet
                img(src='/assets/img/storys-icons/sausages-pic.png')
              span.storys__title Sasiski
    section(class='mt-10 sm:mt-12')
      .flex.flex-row.justify-between.items-baseline
        h2 Сливная цена
        a.flex-row.flex.items-center
          span.text-green.font-bold.mr-2 Смотреть все
          <svg width="15" height="8" viewBox="0 0 15 8" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M14.8968 3.99401L14.2431 4.67223L11.7614 7.24105L10.8243 6.26874L12.3399 4.69623H0.0703125V3.29178H12.3399L10.8243 1.71928L11.7614 0.740967L14.8968 3.99401Z" fill="#40B484"/>
          </svg>
    .slivniye-prices
      .slivniye-prices__wrapper
        .slivniye-prices__item
          .slivniye-prices__btn-wrapper
            .slivniye-prices__btn-fav
              <svg width="21" height="19" viewBox="0 0 21 19" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M10.5676 17.0465L3.8356 10.3145C-1.8254 4.65347 4.9066 -2.07853 10.5676 3.58247C16.3306 -2.18053 23.0626 4.55147 17.2996 10.3145L10.5676 17.0465Z" stroke="white" stroke-width="2.3" stroke-miterlimit="10"/>
              </svg>
            .slivniye-prices__btn-buy
              <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_1221_74861)">
              <path d="M18.7245 11.4301V7.28559C18.7245 4.1255 16.1649 1.56592 13.0048 1.56592C9.84474 1.56592 7.28516 4.1255 7.28516 7.28559V11.4301" stroke="white" stroke-width="2" stroke-linejoin="round"/>
              <path d="M14.6886 24.8385H22.6626V16.9431V7.48254H3.34766V24.8385H14.7772" stroke="white" stroke-width="2" stroke-linejoin="round"/>
              </g>
              <defs>
              <clipPath id="clip0_1221_74861">
              <rect width="25.2315" height="25.5958" fill="white" transform="translate(0.382812 0.404297)"/>
              </clipPath>
              </defs>
              </svg>
          .slivniye-prices__item-wrapper
            .image-wrapper
              img(src='/assets/img/sliv-cen/marmel.png')


