extends ../layout/main


block content
    section.info 
        .container           
            h1.info-header Оформление и возврат
            .info_container 
                .info_left-menu
                    ul.left-menu_list 
                        li.left-menu__item.active 
                            a(href='/info_order.html') Оформление и возврат
                        li.left-menu__item 
                            a(href='/payment_terms.html')  Условия оплаты
                        li.left-menu__item 
                            a(href='/terms_delivery.html') Условия доставки   
                .info-content 
                    .info-content_section.order
                        .info-content__block
                            ul.block_list 
                                li 
                                    div -
                                    div Минимальная сумма заказа
                                        span.bolder &nbsp;500 рублей.
                                li 
                                    div -
                                    |В случае заказа с типом оплаты «онлайн», оплата должна быть совершена до 20:30, иначе произойдет отмена заказа.              
                        .info-content__block.contacts
                            div.block-text Позвоните, и менеджер поможет Вам с оформлением заказа и ответит на возникшие вопросы.
                            .block-number 
                                .block-number_phone
                                    a(href="tel:+79250823423") +7 925 082-34-23
                                .block-number_phone
                                    a(href="tel:+79035234458") +7 903 523-44-58
                    .info-content_section.guide
                        .guide-block 
                            .guide-block_number 1
                            .guide-block_content
                                .guide-block__title Выберите продукцию в разделе «Каталог» и добавьте ее в нужном количестве в Корзину.
                                .guide-block__content
                                    img(src="../../assets/img/guide/one.svg")
                        .guide-block 
                            .guide-block_number 2
                            .guide-block_content
                                .guide-block__title После набора товаров перейдите в корзину и проверьте состав заказа
                                .guide-block__content
                                    img(src="../../assets/img/guide/two.svg")
                        .guide-block 
                            .guide-block_number 3
                            .guide-block_content
                                .guide-block__title Проверьте товары в корзине, возможно, стоит добавить несколько позиций для бесплатной доставки
                                .guide-block__content
                                    img(src="../../assets/img/guide/three.svg")
                        .guide-block 
                            .guide-block_number 4
                            .guide-block_content
                                .guide-block__title Нажмите кнопку «Перейти к оформлению», чтобы оформить заказ.
                                .guide-block__content
                                    img(src="../../assets/img/guide/four.svg")
                        .guide-block 
                            .guide-block_number 5
                            .guide-block_content
                                .guide-block__title Укажите контактные данные и выберете способ доставки.
                                .guide-block__content
                                    img(src="../../assets/img/guide/fife_1.png")
                                    img(src="../../assets/img/guide/fife_2.png")
                        .guide-block 
                            .guide-block_number 6
                            .guide-block_content
                                .guide-block__title Введите адрес доставки заказа, или выберите из сохраненных адресов. 
                                .guide-block__content
                                    img(src="../../assets/img/guide/six_1.png")
                                    img(src="../../assets/img/guide/six_2.png")
                        .guide-block 
                            .guide-block_number 7
                            .guide-block_content
                                .guide-block__title Выберете время доставки и способ оплаты.
                                .guide-block__content
                                    img(src="../../assets/img/guide/seven_1.png")
                                    img(src="../../assets/img/guide/seven_2.png")
                        .guide-block 
                            .guide-block_number 8
                            .guide-block_content
                                .guide-block__title Оплатите заказ (при выборе оплаты онлайн) или оформите заказ (при выборе оплаты наличными). Готово! Ваш заказ оформлен.
                                .guide-block__content
                                    img(src="../../assets/img/guide/eight.png")


                  
                        