extends ../layout/main

block content
    .inner-content
        .container
            .breadcrumbs
                .breadcrumbs__wrapper
                    .breadcrumbs__item
                        a(href='/') Главная
                    .breadcrumbs__item
                        a(href='/catalog/') Каталог
            .sections
                .sections__wrapper
                    .sections__item
                        h2 Продукты питания
                        .sections__item-wrapper
                            .sections__section
                                .sections__section-menu
                                    .sections__section-menu-wrapper
                                        .sections__section-menu-item
                                            a Все
                                        .sections__section-menu-item
                                            a Колбасы варёные, ветчина
                                        .sections__section-menu-item
                                            .sections__section-menu-item-child-drop
                                                |Колбасы копчёные
                                                div.sections__section-menu-item-child-drop-arrow
                                                    <svg width="13" height="8" viewBox="0 0 13 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M1.5 6.5L6.5 1.5L11.5 6.5" stroke="#3AAFF1" stroke-width="2"/>
                                                    </svg>
                                            .sections__section-menu-item-child-wrapper
                                                .sections__section-menu-item-child-item
                                                    a Огрызки
                                                .sections__section-menu-item-child-item
                                                    a И тд
                                                .sections__section-menu-item-child-item
                                                    a И тп
                                        .sections__section-menu-item
                                            a Колбасы сырокопчёные

                                .sections__section-wrapper
                                    .sections__section-icon
                                        <svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M44.1465 11.7134H28.8398V26.6467H44.1465V11.7134Z" fill="" stroke="#40B484" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M21.1498 31.738C24.6048 30.9492 26.2662 25.3194 24.8608 19.1633C23.4554 13.0072 19.5153 8.65614 16.0604 9.44489C12.6055 10.2336 10.944 15.8635 12.3494 22.0196C13.7548 28.1757 17.6949 32.5267 21.1498 31.738Z" fill="" stroke="#40B484" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M7.32812 22.5867L12.5081 46.6433H43.4481L48.6748 22.5867H7.32812Z" fill="" stroke="#40B484" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M37.5664 38.4301H45.2664" stroke="#40B484" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M10.7344 38.4301H28.001" stroke="#40B484" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                                    span.sections__section-name Бакалея
                            .sections__section
                                .sections__section-menu
                                    .sections__section-menu-wrapper
                                        .sections__section-menu-item
                                            a 1
                                        .sections__section-menu-item
                                            a 2
                                        .sections__section-menu-item
                                            a 3
                                        .sections__section-menu-item
                                            a 4

                                .sections__section-wrapper
                                    .sections__section-icon
                                        <svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M44.1465 11.7134H28.8398V26.6467H44.1465V11.7134Z" fill="" stroke="#40B484" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M21.1498 31.738C24.6048 30.9492 26.2662 25.3194 24.8608 19.1633C23.4554 13.0072 19.5153 8.65614 16.0604 9.44489C12.6055 10.2336 10.944 15.8635 12.3494 22.0196C13.7548 28.1757 17.6949 32.5267 21.1498 31.738Z" fill="" stroke="#40B484" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M7.32812 22.5867L12.5081 46.6433H43.4481L48.6748 22.5867H7.32812Z" fill="" stroke="#40B484" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M37.5664 38.4301H45.2664" stroke="#40B484" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M10.7344 38.4301H28.001" stroke="#40B484" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                                    span.sections__section-name Бакалея
                            .sections__section
                                .sections__section-menu
                                    .sections__section-menu-wrapper
                                        .sections__section-menu-item
                                            a Все
                                        .sections__section-menu-item
                                            a Колбасы варёные, ветчина
                                        .sections__section-menu-item
                                            a Колбасы копчёные
                                        .sections__section-menu-item
                                            a Колбасы сырокопчёные

                                .sections__section-wrapper
                                    .sections__section-icon
                                        <svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M44.1465 11.7134H28.8398V26.6467H44.1465V11.7134Z" fill="" stroke="#40B484" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M21.1498 31.738C24.6048 30.9492 26.2662 25.3194 24.8608 19.1633C23.4554 13.0072 19.5153 8.65614 16.0604 9.44489C12.6055 10.2336 10.944 15.8635 12.3494 22.0196C13.7548 28.1757 17.6949 32.5267 21.1498 31.738Z" fill="" stroke="#40B484" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M7.32812 22.5867L12.5081 46.6433H43.4481L48.6748 22.5867H7.32812Z" fill="" stroke="#40B484" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M37.5664 38.4301H45.2664" stroke="#40B484" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M10.7344 38.4301H28.001" stroke="#40B484" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                                    span.sections__section-name Бакалея
                            .sections__section
                                .sections__section-menu
                                    .sections__section-menu-wrapper
                                        .sections__section-menu-item
                                            a Все
                                        .sections__section-menu-item
                                            a Колбасы варёные, ветчина
                                        .sections__section-menu-item
                                            a Колбасы копчёные
                                        .sections__section-menu-item
                                            a Колбасы сырокопчёные

                                .sections__section-wrapper
                                    .sections__section-icon
                                        <svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M44.1465 11.7134H28.8398V26.6467H44.1465V11.7134Z" fill="" stroke="#40B484" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M21.1498 31.738C24.6048 30.9492 26.2662 25.3194 24.8608 19.1633C23.4554 13.0072 19.5153 8.65614 16.0604 9.44489C12.6055 10.2336 10.944 15.8635 12.3494 22.0196C13.7548 28.1757 17.6949 32.5267 21.1498 31.738Z" fill="" stroke="#40B484" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M7.32812 22.5867L12.5081 46.6433H43.4481L48.6748 22.5867H7.32812Z" fill="" stroke="#40B484" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M37.5664 38.4301H45.2664" stroke="#40B484" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M10.7344 38.4301H28.001" stroke="#40B484" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                                    span.sections__section-name Бакалея



                    .sections__item
                        h2 Другое