extends ../layout/main


block content
    section.delivery 
        .container           
            h1.delivery-header Условия доставки 
            .delivery_container 
                .delivery_left-menu
                    ul.left-menu_list 
                        li.left-menu__item 
                            a(href='/info_order.html') Оформление и возврат
                        li.left-menu__item 
                            a(href='/payment_terms.html')  Условия оплаты
                        li.left-menu__item.active 
                            a(href='/terms_delivery.html') Условия доставки   
                .delivery_content
                    .delivery_content_block
                        .delivery_content-title Самовывоз
                        .delivery_content-text
                            p Минимальная сумма заказа 500 рублей.<br>
                                | Забрать из пункта выдачи можно с 9:00 до 19:00. Адрес пункта: г. Орехово-Зуево, ул. Кооперативная, д. 17а.
                                    
                    .delivery_content_block
                        .delivery_content-title Доставка
                        .delivery_content-text 
                            ul.delivery_content__list
                                li Минимальная сумма заказа 500 рублей.
                                li По городу Орехово-Зуево доставка осуществляется в день заказа.
                                li Доставка по городам кроме Орехово-Зуево осуществляется на следующий день.
                                li При заказе от 1500 рублей доставка бесплатна.
                                li При заказе с оплатой "онлайн", оплата должна быть совершена до 20:30.

                            p Курьер предварительно созвонится с Вами и доставит заказ. При получении заказа убедитесь в целостности продукции.