/* Tailwind import */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Core variables */
@import 'base/vars';

/* CSS Reset */
@import 'base/reset';

/* CSS print */
@import 'base/print';

/* Fonts */
@import 'base/fonts';

/* Mixins, helpers and functions */
@import 'base/mixins';

/* Vendor */

/* Components */
/* Browser specific styles */
@import 'dirty/hacks';
 
/* Page layout */
@import 'blocks/header';
@import 'blocks/footer';
/* Pages styles */

.btn{
  width: fit-content;
}
.inpt{
  padding: 15px 0px 15px 18px;
  ::placeholder{
    color: var(--grey);
  }
}
*{
  font-family: Mulish;
  font-weight: 400;
}
body{
  @apply bg-global-bg;
}
